@using PDHClient.DTO
@model IEnumerable<PatientsDTO>


@{
    ViewData["Title"] = "Index";    
}

<div class="container">
    <div class="row justify-content-center">
        <div style="padding-bottom:20px;">
            <a asp-controller="Patient" asp-action="create" class="btn btn-danger offset-2">Add Patient</a> <hr />
        </div>
        <div class="col-8">
            <table class="table table-hover" id="mytable">
                <thead>
                    <tr class="table-primary">
                        <th hidden>Id</th>
                        <th>Name</th>
                        <th>Epilepsy</th>
                        <th>Disses Id</th>
                        <th>NCD ID</th>
                        <th>Allergies ID</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td id="patien" hidden>@item.Id</td>
                            <td>@item.patientName</td>
                            <td>@item.epilepsy</td>
                            <td>@item.diseasesID</td>
                            <td>@item.ncdid</td>
                            <td>@item.allergiesID</td>
                            <td> <a class="btn btn-success" href="/patient/edit?id=@item.Id">Edit</a> </td>
                            @* href="/patient/delete?id=@item.Id" *@
                            <td> <a class="btn btn-warning delPatient" >Delete</a> </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

 <script type="text/javascript">

 

   // var patien = $("#petien").val();


    $(".delPatient").click(function (e) {

        var patien = $("#petien").val();       
        
        if (patien != "") {      
            e.preventDefault();
             $.ajax({
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                 url: "/Patient/delete",
                 dataType:'json',
                data: JSON.stringify({ patien: patien }),
                
                 success: function () {
                    alert("Success");
                 },
                 error: function () {
                    alert("Error");
                 }
             });
         }


     })
 
 </script>